<div class="site-footer">
    <div id="footer">
        <div class="container">
            <div class="grid">
                <div class="grid-2 text-left">
                    <h3>Over PetSupplies</h3>
                    <p>Lorum ipsum</p>
                </div>
                <div class="grid-2 text-right">
                    <h3>Producten bestellen?</h3>
                    <p>Deze website is nog in ontwikkeling. <br />Producten kunt u bestellen via: <a href="mailto:bestel@petsupplies.nl">bestel@petsupplies.nl</a></p>
                </div>
            </div>
        </div>
    </div>
</div>